body {
    background-color: #2B2D42; /* Темно-синий фон */
    color: #E0E1DD; /* Светло-серый текст */
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-left: 5%;
	margin-top: 1%;
	position: absolute;
}

.Profile {
    margin-left: 1%;
	margin-top: 1.5%;
	position: absolute;
}

.chats {
    margin-left: 5%;
	margin-top: 10%;
	position: absolute;
}

.logout{
    margin-left: 2%;
	margin-top: 49%;
	position: absolute;
}

.send{
    margin-left: 97%;
	margin-top: 49%;
	position: absolute;
}
h2 {
    color: #EDF2F4; /* Светло-серый текст */
}

.chats .account {
	border: 1px dotted #f0f;
	height: 3vw;
	margin: 0.5vw;
}

.chats .account img {
	position: absolute;
	width: 3vw;
	aspect-ratio: 1;
}

.chats .account .name {
	font-size: 1.2vw;
	position: absolute;
	margin: 0.4vw 0.5vw 0.2vw 3.5vw;
}

.chats .account .status {
	font-size: 0.8vw;
	position: absolute;
	margin: 1.8vw 0.5vw 0.5vw 3.5vw;
}

.chats .account .link {
	font-size: 2vw;
	position: absolute;
	width: 2vw;
	height: 2vw;
	right: 0;
	text-decoration: none;
	color: #fff;
}