CHAT_ID {
	position: absolute;
	display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family: 'Arial', sans-serif;
}

h1 {
	font-size: 2vw;
	color: var(--color-alt);
}

h2 {
	font-size: 1vw;
	color: var(--color-alt);
}

.left {
	position: absolute;
	left: 0;
	left: 0;
	width: 20vw;
	height: 100%;
	border: 0 solid var(--color);
	border-width: 0 1px 0 0;
	z-index: 1;
	background-color: var(--bg-color-alt);
}

.left .top {
	position: absolute;
	width: 20vw;
	height: 5vw;
	border: 0 solid var(--color);
	border-width: 0 0 1px 0;
	z-index: 2;
	background-color: var(--bg-color-alt);
}

.left .top h1 {
	position: relative;
    left: 9vw;
	top: 1.3vw;
}

.left .top .profile .decor {
	background: var(--button-bg);
	position: absolute;
	text-align: center;
	left: 2vw;
	top: 1vw;
	width: 5vw;
	height: 3vw;
	border: 1px solid var(--button-color);
	border-radius: 0.5vw;
	line-height: 3vw;
	transition: 0.3s;
}

.left .top .profile:hover .decor {
	border: 1px solid var(--button-color-hover);
	background-color: var(--button-bg-hover);
}

.left .top a {
	color: var(--buton-color);
}

.left .top a .profile .decor p {
	position: absolute;
	left: 0.3vw;
	font-size: 1vw;
}

.left .top .profile:hover p {
	color: var(--button-color);
}



.left .bottom {
	position: absolute;
	top: 5vw;
	width: 20vw;
	height: calc(100vh - 5vw);
	overflow-x: hidden;
	overflow-y: auto;
}

.left .bottom .find {
	position: relative;
	width: 20vw;
	min-height: 5vw;
	border: 0 solid var(--border-color);
	border-width: 0 0 1px 0;
}

.left .bottom .find h2 {
	margin: 0.5vw 1vw;
}

.left .bottom .find .find_form .find_input {
    display: inline;
	font-size: 0.75vw;
	font-family: system-ui;
	width: 11vw;
	height: 1.5vw;
	padding: 0 0.5vw;

	margin-left: 1vw;
    margin-top: 0.2vw;
    
	border: 1px solid var(--color);
    border-radius: 0.5vw;

	color: var(--color);
    background: var(--button-bg);
}

.left .bottom .find .find_form .submit {
    display: inline;
	font-size: 0.75vw;
	width: 5vw;
	height: calc(1.5vw + 2px);
	padding: 0 1vw;
	
	cursor: pointer;
	margin-left: 0.5vw;
	
	border: 1px solid var(--color);
	border-radius: 0.5vw;
	
	color: var(--button-color);
	background: var(--button-bg);
	transition: 0.3s ease, color 0.3s ease;
}

.left .bottom .find .find_form .submit:hover {
	background: var(--button-bg-hover);
}

.left .bottom .find .account {
	height: 3vw;
	width: 19vw;
	margin: 0.5vw;
	border: 0.1vw solid var(--color);
	border-radius:0.5vw;
}

.left .bottom .find .account img {
	position: absolute;
	width: 3vw;
	aspect-ratio: 1;
	border-radius: 0.5vw;
}

.left .bottom .find .account .name {
	font-size: 1.2vw;
	position: absolute;
	margin: 0.4vw 0.5vw 0.2vw 3.5vw;
	color: var(--button-color);
}

.left .bottom .find .account .status {
	font-size: 0.8vw;
	position: absolute;
	margin: 1.8vw 0.5vw 0.5vw 3.5vw; 
	color: #bbb;
}

.left .bottom .find .account .symbol {
	font-size: 2vw;
	position: absolute;
	width: 2vw;
	height: 2vw;
	right: 0;
	text-decoration: none;
	color: var(--button-color);
}



.left .bottom .chats {
	width: 20vw;
	min-height: 5vw;
	background: var(--bg-color-alt);
}

.left .bottom .chats h2 {
	margin: 0.5vw 1vw;
}

.left .bottom .chats .chat {
	border: 0.1vw solid var(--color);
	border-radius:0.5vw;
	height: 3vw;
	width: 19vw;
	margin: 0.5vw;
}

.left .bottom .chats .chat img {
	position: absolute;
	width: 3vw;
	aspect-ratio: 1;
	border-radius: 0.5vw;
}

.left .bottom .chats .chat .name {
	font-size: 1.2vw;
	position: absolute;
	margin: 0.4vw 0.5vw 0.2vw 3.5vw;
	color: var(--buton-color);
}

.left .bottom .chats .chat .status {
	font-size: 0.8vw;
	position: absolute;
	margin: 1.8vw 0.5vw 0.5vw 3.5vw;
	color: #bbb;
}

.left .top .profile .decor {
	background: var(--button-bg);
	border: 0.1vw solid var(--button-color);
	position: absolute;
	text-align: center;
	left:2vw;
	top: 1vw;
	width: 5vw;
	height: 3vw;
	border-radius: 0.5vw;
	line-height: 3vw;
	transition: 0.3s;
}

.left .top .profile:hover .decor {
	border: 0.1vw solid var(--button-color);
	background-color: var(--button-bg-hover);
}



.right {
	position: absolute;
	left: 20vw;
	width: 80vw;
	height: 100%;
	z-index: 0;
}

.right .top {
	z-index: 1;
	width: 80vw;
	height: 5vw;
	border: 0 solid var(--color);
	border-width: 0 0 1px 0;
	background-color: var(--bg-color-alt);
}

.right .top .krasota {
	display: inline-block;
	
}

.right .top .chat_name {
	display: block;
	font-size: 2vw;
	background: var(--buton-bg);
}

.right .top .img_avatar {
	display: inline-block;
	margin: calc(0.5vw - 1px);
	width: 4vw;
	height: 4vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .img_avatar img {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 1vw;
}

.right .top .chat_topicleft {
	position: absolute;
	width:60vw;
	height: 5vw;
	border: 0 solid var(--color);
	border-width: 0 1px 0 0;
}

.right .top .chat_topicright {
	position: absolute;
	left: 60vw;
	width: 20vw;
	height: 5vw;
	border: 0 solid var(--color);
	border-width: 0 0 1px 0;
}
.right .top .chat_topicleft:hover {
	background: var(--button-bg-hover);
}

.right .top .status {
	display: block;
	left: 55vw;
	top: 3.5vw;
	font-size: 1vw;
	color: var(--button-color);
}

.right .top .photo {
	position: absolute;
	padding: 1vw;
	top:1vw;
	left: 3vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .photo:hover {
	border-color:var(--button-color);
}

.right .top .video {
	position: absolute;
	padding: 1vw;
	top: 1vw;
	left: 8vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .video:hover {
	border-color:var(--button-color);
}

.right .top .files {
	position: absolute;
	padding: 1vw;
	top: 1vw;
	left: 13vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .files:hover {
	border-color:var(--button-color);
}



.right .main2 {
	display: block;
	height: calc(100vh - 8vw);
	overflow-y: scroll;
}

.right .main2 .main {
	display: flex;
	padding: 0.5vw 0;
	flex-direction: column;
	justify-content: flex-end;
	overflow-y: auto;
}

.right .main .message {
	display: flex;
	padding: 0.25vw;
	color: var(--button-color);
}

.right .main #my.message {
	color: var(--button-color);
	justify-content: flex-end;
}

.right .main .message .box {
	background: var(--self-text);
	padding: 0.9vh 1.5vh 0.7vh 1.5vh;
	margin: 0vw 1vw;
	max-width: 66%;	
	min-width: 33%;
	color: var(--color);
	border-radius: 1vw;
	border-bottom-left-radius: 0;
}

.right .main .message#my .box {
	background: var(--other-text);
	color: var(--color);
	border-radius: 1vw;
	border-bottom-right-radius: 0;
}

.right .main .message .sender {
	font-size: 1vw;
	margin: -0.25vw 0 0.5vw -0.5vw;
	font-weight: bold;
}

.right .main #my.message .sender {
	display: none;
}

.right .main .message .data {
	font-size: 1vw;
	display: inline;
}

.right .main .message .info {
	font-size: 0.5vw;
	font-family: monospace;
	display: flex;
	float: right;
	margin: 0.75vw -0.25vw -0.25vw 0;
}

.right .main .message .info .time {
	display: inline;
	font-family: 'Times New Roman';
}

.right .main .message .info .symbol {
	display: inline;
}

.right .main .message meta_ {
	display: none;
}



.right .send {
	/* position: fixed; */
     /* Поднимаем над панелью задач */
    width: 80vw;
	height: 3vw;
    border: 0 solid var(--color);
	border-width: 1px 0 0 0;
	background: var(--bg-color-alt);
}

.right .send .send_form .send_input {
	height: 2vw;
    width: 50vw;

	margin: calc(0.5vw - 1px);
	margin-left: 10%;
    padding: 0 0.5vw;

	display: inline;
	font-size: 1vw;
    border: 1px solid var(--button-color);
    border-radius: 0.5vw;
	
	color:var(--color);
    background-color: var(--button-bg);
}

.right .send .send_form .send_submit {
	height: 2vw;
	width: 6vw;

	margin: calc(0.5vw - 1px);

	display: inline;
	font-size: 1vw;
	border: 1px solid var(--button-color);
	border-radius: 0.5vw;

	color: var(--button-color);
	cursor: pointer;
}

.right .send .send_form .send_submit:hover {
	border: 0.1vw solid var(--button-color);
	color: var(--button-color);
}