CHAT_ID {
	position: absolute;
	display: none;
}

body {
    background-color: #000000; /* Темно-синий фон */
    color: #E0E1DD; /* Светло-серый текст */
    font-family: 'Arial', sans-serif;
}

h1 {
	font-size: 2vw;
}

h2 {
	font-size: 1vw;
}

.left {
	position: absolute;
	left: 0;
	left: 0;
	width: 20vw;
	height: 100%;
	border: 1px solid var(--color);
	background-color: var(--bg-color-alt);
}

.left .top {
	position: absolute;
	width: 20vw;
	height: 5vw;
	border: 1px solid var(--color);
	background-color: var(--bg-color-alt);
}

.left .top h1 {
	position: absolute;
    left: 9vw;
	top: 1.3vw;
}

.left .bottom {
	position: absolute;
	top: 5vw;
	width: 20vw;
	height: calc(100vh - 5vw);
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid var(--color);
}

.left .bottom .find {
	position: relative;
	width: 20vw;
	min-height: 5vw;
	border: 1px solid var(--color);
}

.left .bottom .find h2 {
	margin: 0.5vw 1vw;
}

.left .bottom .find .account {
	border: 1px solid var(--color);
	height: 3vw;
	width: 19vw;
	margin: 0.5vw;
}

.left .bottom .find .account img {
	position: absolute;
	width: 3vw;
	aspect-ratio: 1;
}

.left .bottom .find .account .name {
	font-size: 1.2vw;
	position: absolute;
	margin: 0.4vw 0.5vw 0.2vw 3.5vw;
	color: var(--button-color);
}

.left .bottom .find .account .status {
	font-size: 0.8vw;
	position: absolute;
	margin: 1.8vw 0.5vw 0.5vw 3.5vw;
	color: #bbb;
}

.left .bottom .find .account .symbol {
	font-size: 2vw;
	position: absolute;
	width: 2vw;
	height: 2vw;
	right: 0;
	text-decoration: none;
	color: var(--button-color);
}

.left .bottom .chats {
	width: 20vw;
	min-height: 5vw;
	border: 1px solid var(--color);
	background-color: var(--bg-color-alt);
}

.left .bottom .chats h2 {
	margin: 0.5vw 1vw;
}

.left .bottom .chats .chat {
	border: 1px solid var(--color);
	height: 3vw;
	width: 19vw;
	margin: 0.5vw;
}

.left .bottom .chats .chat img {
	position: absolute;
	width: 3vw;
	aspect-ratio: 1;
}

.left .bottom .chats .chat .name {
	font-size: 1.2vw;
	position: absolute;
	margin: 0.4vw 0.5vw 0.2vw 3.5vw;
	color: var(--buton-color);
}

.left .bottom .chats .chat .status {
	font-size: 0.8vw;
	position: absolute;
	margin: 1.8vw 0.5vw 0.5vw 3.5vw;
	color: #bbb;
}

.left .top .profile .decor {
	position: absolute;
	text-align: center;
	left:2vw;
	top: 1vw;
	width: 5vw;
	height: 3vw;
	border: 1px solid #bbb;
	border-radius: 10px;
	line-height: 3vw;
	transition: 0.3s;
}

.left .top .profile:hover .decor {
	border: 1px solid var(--button-color);
	background-color: var(--button-bg-hover);
}

.left .top .profile p {
	position: absolute;
	left: 0.3vw;
	font-size: 1vw;
	color: #bbb;
}

.left .top .profile:hover p {
	color: var(--button-color);
}

.right {
	position: absolute;
	left: 20vw;
	width: 80vw;
	height: 100%;
	border: 1px solid var(--color);
}

.right .top {
	width: 80vw;
	height: 5vw;
	border: 1px solid var(--color);
	background-color: var(--bg-color-alt);
}

.right .send {
	position: absolute;
	bottom: 0;
	width: 80vw;
	height: 5vh; /* не менять */
	border: 1px solid var(--color);
}

.find_form .submit{
	width: 6vw;
	height: 2.2vw;
	border: 1px solid #bbb;
	border-radius: 0.5vw;
	background-color: transparent;
	color:var(--button-color);
}

.text_message{
	position:fixed;
	background:rgb(72, 9, 131);
	width: 80vw;
	height:3.5vw;
	top:93.5%;
}

input[type="text"], select, textarea{
	width: 10vw;
	height: 1vw;
    padding: 1vw;
	margin-left:1vw;
    margin-top:0.2vw;
    display: inline-block;
    border: 0.1vw solid var(--buton-color);
    border-radius: 0.5vw;
    box-sizing: border-box;
    background-color: var(--button-bg);
	color:var(--button-color);
}

.send_form .send_submit{
	width: 6vw;
	height: 4vh;
	margin: 0.25vh;
	border: 1px solid #bbb;
	border-radius: 0.5vw;
	background-color: transparent;
	color:#bbb;
}

.send .send_input{
    width: 50vw;
    padding: 1vw;
	margin: 0.25vw;
	margin-left:10%;
    display: inline-block;
    border: 0.2vw solid rgb(103, 71, 133);
    border-radius: 0.5vw;
    box-sizing: border-box;
    background-color: #343650;
	color:#bbb;
}

.send_form .send_submit:hover {
	border: 1px solid var(--button-color);
	color: var(--button-color);
}

.right .top .chat_name{
	display: inline;
	position: absolute;
	left:7vw;
	top:1.2vw;
	font-size: 2vw;
	color:#bbb;
}
.right .top .img_avatar{
	position: absolute;
	left: 2vw;
	top:0.5vw;
	width: 4vw;
	height: 4vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .chat_topicleft:hover .chat_name{
	color: var(--button-color);
}

.right .top .chat_topicleft:hover .img_avatar{
	border-color: var(--button-color);
}

.right .top .chat_topicleft{
	position:absolute;
	width:60vw;
	height: 5vw;
	border: 1px solid #f00;
}

.right .top .chat_topicright{
	position: absolute;
	left: 60vw;
	width: 20vw;
	height: 5vw;
	border: 1px solid #0ff;
}

.right .top .status{
	position:absolute;
	left: 55vw;
	top:3.5vw;
	font-size:1vw;
	color:#bbb;
}

.right .top .chat_topicleft:hover .status{
	color:var(--button-color);
}

.right .top .photo{
	position: absolute;
	padding: 1vw;
	top:1vw;
	left: 3vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .photo:hover{
	border-color:var(--button-color);
}

.right .top .video{
	position: absolute;
	padding: 1vw;
	top:1vw;
	left: 8vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .video:hover{
	border-color:var(--button-color);
}

.right .top .files{
	position: absolute;
	padding: 1vw;
	top:1vw;
	left: 13vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #bbb;
	border-radius: 1vw;
}

.right .top .files:hover{
	border-color:var(--button-color);
}

.right .main {
	display: flex;
	height: 85vh;
	flex-direction: column;
	justify-content: flex-end;
}

.right .main .message {
	display: inline-block;
	color: #ddd;
	margin: 1vh 1.5vh;
}

.right .main #my.message {
	color: var(--button-color);
	display: flex;
	justify-content: flex-end;
}

.right .main .message .box {
	background: #3b3d62;
	padding: 1vh 1.5vh;
	max-width: 66%;
	min-width: 33%;
}

.right .main .message .sender {
	font-size: 2vh;
	margin: -0.25vh 0 0.5vh -0.5vh;
	font-weight: bold;
}

.right .main #my.message .sender {
	display: none;
}

.right .main .message .data {
	font-size: 2vh;
	border: 1px dotted #f0f;
	display: inline;
}

.right .main .message .info {
	border: 1px dotted #0f0;
	display: inline;
	float: right;
}

.right .main .message .info .time {
	display: inline;
}

.right .main .message .info .symbol {
	display: inline;
}

meta_ {
	display: none;
}