h1 {
    font-size: 2vw;
}

form {
    align-content: center;
}

body {
    background-image: linear-gradient(#2E9AFF, #F498AD);
  }
  

.fast_login {
    width: 10vw;
    padding: 5vw;
    position: absolute;
    left: 5vw;
    top: 15vw;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    border: 0.1vw solid rgba(255,255,255,0.3);
    border-radius: 1vw;
}

.fast_login .hidden {
    display: none;
}

.fast_login .submit {
    width: 10vw;
    height: 2vw;
    display: block;
}

.center {
    width: 30vw;
    padding: 5vw;
    position: absolute;
    left: 30vw;
    top: 15vw;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    border: 0.1vw solid rgba(255,255,255,0.3);
    border-radius: 1vw;
}

.login, .password {
    width: 24.5vw;
    height: 1.5vw;
    font-size: 1vw;
    padding: 0.1vw 0.25vw 0.1vw 0.25vw;
    margin: 0.25vw;
    border-radius: 0.5vw;
    border: 0;
}

.submit {
    width: 25vw;
    height: 1.75vw;
    font-size: 1vw;
    margin: 0.5vw;
    border-radius: 0.5vw;	
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    border: 0.1vw solid rgba(255,255,255,0.3);
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.submit:hover{
    transition:0.2s;
    color: var(--button-color-hover);
}

.log {
    width: 25vw;
    height: 2vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-left: 2.5vw;
    line-height: 2vw;
    background: var(--button-bg-hover);
    color: rgb(79, 30, 30);
    border-radius: 0.5vw;
    border: 0;
}

.SingIn{
    text-decoration: none;
    margin-left:2.5vw;
    width:25vw;
    height:1.75vw;
    text-align: center;
    font-weight: bold;
    line-height:1.5vw;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    border: 0.1vw solid rgba(255,255,255,0.3);
    border-radius: 0.5vw;
}

.SingIn:hover{
    transition:0.2s;
    color: var(--button-color-hover);
}

a {
    text-decoration: none;
    display:block;
    width:25vw;
    height:2vw;
    font-size: 1vw;
    color: var(--button-color);
}