* {
    padding: 0;
    margin: 0;
    font-family: "arial";
}

a:-webkit-any-link {
	color: var(--buton-color);
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --bg-color: #000000;
    --bg-color-alt: #222222;
    --color: #ffffff;
    --color-alt: #ddddff;
    --button-bg: #444444;
    --button-bg-hover: #ff4848;
    --button-color: #ffffff;
    --button-color-hover: #ddddff;
    --link-color: #37e8ff;
    --link-color-used: #b03aff;
    --self-text: #ff9c9c;
    --other-text: #9b3232;
    --border-color: #c92020;
    --border-color-hover: #861616;
    --message-send: #757575;
    --message-checked: #0084ff;
}