* {
    padding: 0;
    margin: 0;
    font-family: "arial";
}

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --bg-color: #000;
    --bg-color-alt: #222;
    --color: #fff;
    --color-alt: #ddf;
    --button-bg: #444;
    --button-bg-hover: rgba(255, 72, 72, 0.493);
    --button-color: #fff;
    --button-color-hover: #ddf;
}