* {
    padding: 0;
    margin: 0;
    font-family: "arial";
}

a:-webkit-any-link {
	color: var(--buton-color);
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --bg-color: #dddddd;
    --bg-color-alt: #bbbbbb;
    --color: #1f1f1f;
    --color-alt: #3f3f3f;
    --button-bg: #555555;
    --button-bg-hover: #777777;
    --button-color: #999999;
    --button-color-hover: #dddddd;
    --link-color: #0f263d;
    --link-color-used: #2d1e3d;
    --self-text: #999999;
    --other-text: #aaaaaa;
    --border-color: #000000;
    --border-color-hover: #000000;
    --message-send: #000000;
    --message-checked: #000000;
}