
.vertical {
	display: block;
	width: max-content;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	padding: 1vw;
	background-color: var(--bg-color-alt);
}
.vertical:nth-child(2) {
	width: 100%;
}


.horisontal {
	display: flex;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	padding: 0.5vw;
	gap: 1vw;
	background-color: var(--button-bg);
}

.Name {
	width: calc(100% - 2.5vw);
	height: 2vw;
	line-height: 2vw;
	font-size: 1.2vw;
	margin: 1px;
	padding: 0.25vw;
	margin-bottom: 0;
	border: 0;
}
.Name {
	width: calc(100% - 2.5vw);
	height: 2vw;
	line-height: 2vw;
	font-size: 1.2vw;
	margin: 1vw;
	padding: 0.25vw;
	margin-bottom: 0;
	border: 2px solid var(--button-color);
	border-radius: 5px;
	background-color: var(--bg-color-alt);
	color: var(--button-color);
}


.Icon {
	--size: 15vw;
	width: var(--size);
	height: var(--size);
	margin: 1vw;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	border: 2px solid var(--button-color);
	background-color: var(--bg-color-alt);
}

.Icon img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Icon input[type="file"] {
	position: absolute;
	display: none;
}

.Icon .file_input {
	position: absolute;
	text-align: center;
	width: var(--size);
	height: var(--size);
	opacity: 0;
	transition: 0.3s ease;
	color: var(--button-color);
	cursor: pointer;
	display: flex; 
	align-items: center; 
	justify-content: center; 
}



.Icon:hover .file_input {
	opacity: 1;
	background: rgba(173, 74, 74, 0.356);
}

.About {
	width: calc(100% - 2vw);
	height: calc(100% - 3vw);
	margin: 1vw;
	margin-left: 0.5vw;
	border: var(--button-color);
	border-radius: 5px;
	padding: 0.5vw;
	resize: none;
	font-size: 0.8vw;
	color: var(--button-color);
	background-color:  var(--button-bg);
}

input[type=radio] {
	display: none;
}

input[type=radio]:checked + label {
	background:  var(--button-bg);
	color: var(--button-color);
	border-radius: 5px;
}


label {
	color: #fff;
	padding: 0.5vw 1vw;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.3s ease, background-color 0.3s ease;
}
label:checked {
	color: #f88;
}
label:active {
	color: var(--button-bg-hover);
}


.age{
	margin-top:1vw;
	color: var(--button-color);
}

.Sex .pol{
	margin-top:1vw;
	color: var(--button-color);
	height: 3vw
}


input[type="submit"] {
	position: fixed;
	margin-top: 2vw;
	width: 7vw;
	height: 2.5vw;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	background-color: var(--button-bg);
	color: var(--text-color);
	font-size: 1vw;
	cursor: pointer;
	transition: 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: var(--button-bg-hover);

}