

.Settings h1{
    color: var(--button-color);
}

.BG_color_set{
    margin-top:2vw;
    font-size: 1vw;
}

.BG_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Form_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Text_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Butone1{
    display:block;
    position: relative;
	margin-top: 1vw;
	width: 7vw;
	height: 2.5vw;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	background-color: var(--button-bg);
	color: var(--button-color);
	font-size: 1vw;
	cursor: pointer;
	transition: 0.3s ease, color 0.3s ease;
}

.Butone1:hover{
    background-color: var(--button-bg-hover);
    
}

.Themes{
    margin-top: 1vw;
    font-size: 1vw;
}

.base_themes{
    margin:0.5vw 2vw;
}

.NotBase_Themes{
    margin: 0.5vw 2vw;
}

.Monochrome{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #444444;
    border-radius: 0.5vw;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    font-size: 1vw;
}

.Mint{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #01ffd5;
    border-radius: 0.5vw;
    background-color: #00ffaa;
    cursor: pointer;
    color: #fff;
    font-size: 1vw;
}

.Red_Black{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #fff;
    border-radius: 0.5vw;
    background-color: #000;
    cursor: pointer;
    color: #ff0000;
    font-size: 1vw;
}

.Pink{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #ffffff;
    border-radius: 0.5vw;
    background-color: #ff4ce1;
    cursor: pointer;     
    color: #fff;
    font-size: 1vw;
}

.ScyFi{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #3a24b8;
    border-radius: 0.5vw;
    background-color: #3f1a7a;
    cursor: pointer;
    color: #4ab7ff;
    font-size: 1vw;
}

.Neon{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #49c6ff;
    border-radius: 0.5vw;
    background-color: #1c115c;
    cursor: pointer;
    color: #e358ff;
    font-size: 1vw;
}

.Minimalism{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid #7e7e7e;
    border-radius: 0.5vw;
    background-color: #d3d3d3;
    cursor: pointer;
    color: #000000;
    font-size: 1vw;
}

.Themes .Dark_Theme{
    width:8vw;
    height:2.5vw;
    text-align: center;
    line-height: 2vw;
    border: 0.1vw solid red;
    border-radius: 0.5vw;
    background-color: #1f1f1f;
    cursor: pointer;
    color: white;
    font-size: 1vw;
}

.Themes .Light_Theme{
    width:8vw;
    height:2.5vw;
    text-align: center;
    cursor: pointer;
    line-height: 2vw;
    border: 0.1vw solid blue;
    border-radius: 0.5vw;
    font-size: 1vw;
    background-color: lightblue;
}   

.Hline{
    margin:20px 0;
    padding: 0;
    height:6px;
    border: none;
    background: linear-gradient(45deg, var(--button-color), var(--bg-color));
    font-size: 1vw;
}

.Castomisation{
    margin-top:5vw;
    font-size: 1vw;
}

.Chats_set{
    margin-top:5vw;
    font-size: 1vw;
}