/* Основные стили страницы */
body {
    background-color: #2B2D42; /* Темно-синий фон */
    color: #E0E1DD; /* Светло-серый текст */
    font-family: 'Arial', sans-serif;
}

/* Стилизация формы и элементов ввода */
input[type="text"], select, textarea {
    width: 20vw;
    padding: 1vw;
    margin: 1vw 0;
    display: inline-block;
    border: 0.5vw solid #ccc;
    border-radius: 2vw;
    box-sizing: border-box;
    background-color: #343650; /* Слегка более светлый тон фона */
    color: #FFF; /* Белый текст для читаемости */
}

input[type="submit"] {
    width: 7vw;
    background-color: #8D99AE; /* Светло-серый цвет кнопки */
    color: #2B2D42; /* Темно-синий текст */
    padding: 5vw 10vw;
    margin: 1vw 0;
    border: none;
    border-radius: 4vw;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #EF233C; /* Красный цвет для эффекта при наведении */
}

input[type="radio"] {
    margin-right: 5vw;
}

/* Стиль для заголовков внутри формы */
h2 {
    color: #EDF2F4; /* Светло-серый текст */
}

/* Стиль для кнопки выхода */
.logout-button {
    background-color: #D90429; /* Красная кнопка */
    color: white;
    padding: 10vw 15vw;
    text-decoration: none;
    font-size: 16vw;
    border: none;
    border-radius: 4vw;
    display: inline-block;
}

.logout-button:hover {
    background-color: #EF233C; /* Светлее красный при наведении */
}

/* Стиль для сохранения формы */
.save-button {
    background-color: #8D99AE; /* Серая кнопка */
    color: #2B2D42; /* Темно-синий текст */
    padding: 10vw 15vw;
    text-decoration: none;
    font-size: 16vw;
    border: none;
    border-radius: 4vw;
    display: inline-block;
}

.save-button:hover {
    background-color: #EF233C; /* Красный при наведении */
}

.Chates{
    margin-left: 6vw;
    font-size: 1vw;
}

.Prof{
    font-size:2vw;
    margin-left:5vw;
    padding-top:1vw;
}

.LogOut{
    margin-left: 1vw;
    font-size: 1vw;
}

.Info{
    overflow-y:hidden;
    overflow-x:hidden;
    position: fixed;
    width: 70vw;
    height: 48vw;
    margin-left:22vw;
    margin-top: 2vw;
    background:red; /*цвет выбран для наглядности*/
}

.Menu{
    overflow-y:scroll;
    overflow-x:hidden;
    position:fixed;
    width:20vw;
    height:48vw;
    margin-left:2vw;
    margin-top:2vw;
    background:yellow; /*цвет выбран для наглядности*/
    
}

.Headmenu{
    overflow-y:hidden;
    overflow-x:hidden;
    position:fixed;
    width:30vw;
    height:7vw;
    background:green; /*цвет выбран для наглядности*/
}