/* Основные стили страницы */
body {
    background-color: #2B2D42; /* Темно-синий фон */
    color: #E0E1DD; /* Светло-серый текст */
    font-family: 'Arial', sans-serif;
}

/* Стилизация формы и элементов ввода */
input[type="text"], select, textarea {
    width: 20vw;
    padding: 1vw;
    margin-left:1vw;
    display: inline-block;
    border: 0.2vw solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    background-color: #343650; /* Слегка более светлый тон фона */
    color: #FFF; /* Белый текст для читаемости */
}

input[type="text1"], select, textarea {
    width: 33.4vw;
    padding: 1vw;
    margin-left:0.6vw;
    display: inline-block;
    border: 0.2vw solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    background-color: #343650; /* Слегка более светлый тон фона */
    color: #FFF; /* Белый текст для читаемости */
}

input[type="number"], select, textarea {
    width: 20vw;
    padding: 1vw;
    margin-left:1vw;
    display: inline-block;
    border: 0.2vw solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    background-color: #343650; /* Слегка более светлый тон фона */
    color: #FFF; /* Белый текст для читаемости */
}

input[type="submit"] {
    width: 15vw;
    background-color: #8D99AE; /* Светло-серый цвет кнопки */
    color: #2B2D42; /* Темно-синий текст */
    padding: 1vw 4vw;
    margin: 1vw 0;
    margin-left: 2vw;
    margin-top:23vw;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ae23ef; /* Красный цвет для эффекта при наведении */
}

.radio1{
    position:absolute;
    top:13.5vw;
    left: 20.5vw;
}

.radio2{
    position:absolute;
    left:25.5vw;
    top:13.5vw;
}

.radio3{
    position:absolute;
    left:30.3vw;
    top:13.5vw;
}

/* Стиль для заголовков внутри формы */
h2 {
    color: #EDF2F4; /* Светло-серый текст */
}

/* Стиль для кнопки выхода */
.logout-button {
    background-color: #D90429; /* Красная кнопка */
    color: white;
    padding: 10vw 15vw;
    text-decoration: none;
    font-size: 16vw;
    border: none;
    border-radius: 4vw;
    display: inline-block;
}

.logout-button:hover {
    background-color: #EF233C; /* Светлее красный при наведении */
}

/* Стиль для сохранения формы */
.save-button {
    background-color: #8D99AE; /* Серая кнопка */
    color: #2B2D42; /* Темно-синий текст */
    padding: 10vw 15vw;
    text-decoration: none;
    font-size: 16vw;
    border: none;
    border-radius: 4vw;
    display: inline-block;
}

.save-button:hover {
    background-color: #EF233C; /* Красный при наведении */
}

.Chates{
    margin-left: 6vw;
    font-size: 1vw;
}

.Prof{
    font-size:2vw;
    margin-left:5vw;
    padding-top:1vw;
}

.LogOut{
    margin-left: 1vw;
    font-size: 1vw;
}

.Name{
    margin-left:15vw;
    margin-top:2vw;
}

.Age{
    margin-left:15vw;
    margin-top:2vw;
}

.Sex{
    margin-left:16vw;
    margin-top:2vw;
}

.IaboutU{
    margin-left:2vw;
    margin-top:3vw;
}

.Info{
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed;
    width: 70vw;
    height: 48vw;
    margin-left:25vw;
    margin-top: 2vw;
    border: none;
    border-radius: 1vw;
    background:rgb(120, 86, 151); /*цвет выбран для наглядности*/
}

.Menu{
    overflow-y:scroll;
    overflow-x:hidden;
    position:fixed;
    width:21vw;
    height:42vw;
    margin-left:3vw;
    margin-top:8vw;
    border: none;
    border-radius: 1vw;
    background:rgb(93, 67, 117); /*цвет выбран для наглядности*/
    
}

.Headmenu{
    overflow-y:hidden;
    overflow-x:hidden;
    position:fixed;
    width:21vw;
    height:5vw;
    margin-left:3vw;
    margin-top:2vw;
    border: none;
    border-radius: 1vw;
    background:rgb(103, 71, 133); /*цвет выбран для наглядности*/
}

.Not_choisen{
    left:19vw;
    top:12.2vw;
    position:absolute;
}

.Male{
    left:24vw;
    top:12.2vw;
    position:absolute;
}

.Female{
    left:29vw;
    top:12.2vw;
    position:absolute;
}

/*место под аватар*/
#circle{
    position:absolute;
    top:2vw;
    margin-left:2vw;
    width:12vw;
    height:12vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 5vw;
    background: purple;
}

#circle:hover{
    background-color: rgb(95, 1, 95); /*цвет при наведении*/
}

#circle:hover .ChoosePhoto{
    display:block;
}

/*текст при наведении*/
.ChoosePhoto{
    display: none;
    position:absolute;
    top:5.5vw;
    left:2.5vw;
    color:white;
    font-size:1vw;
}