.Settings h1{
    color: var(--button-color);
}

.BG_color_set{
    margin-top:2vw;
}

.BG_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
}

.Form_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
}

.Text_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
}

.Butone1{
    position: fixed;
	margin-top: 1vw;
	width: 7vw;
	height: 2.5vw;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	background-color: var(--button-bg);
	color: var(--button-color);
	font-size: 1vw;
	cursor: pointer;
	transition: 0.3s ease, color 0.3s ease;
}

.Butone1:hover{
    background-color: var(--button-bg-hover);
}

.Themes{
    margin-top: 1vw;
}

.Themes .Dark_Theme{
    width:7vw;
    height:2vw;
    text-align: center;
    line-height: 2vw;
    border: 1px solid var(--button-color);
    border-radius: 0.5vw;
    background-color: #1f1f1f;
    color:#fff;
    cursor: pointer;
}

.Themes .Light_Theme{
    width:7vw;
    height:2vw;
    text-align: center;
    cursor: pointer;
    line-height: 2vw;
    border: 1px solid var(--button-color);
    border-radius: 0.5vw;
}   

.Hline{
    margin:20px 0;
    padding: 0;
    height:6px;
    border: none;
    background: linear-gradient(45deg, var(--button-color), var(--bg-color));
}

