/* Основные стили страницы */
h1 {
	font-size: 2vw;
    color: var(--color-alt);
}

body {
    background-color: var(--bg-color);
    color: #E0E1DD; /* Светло-серый текст */
    font-family: 'Arial', sans-serif;
    padding: 3.5vh 2vw;
    transition: all 0.3s ease;
}

.Headmenu {
    position: fixed;
    width: 20vw;
    height: 15vh;
    border: none;
    border-radius: 1vw;
    background: linear-gradient(90deg, var(--bg-color-alt), var(--bg-color));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    transition: all 0.3s ease;
}

.Headmenu a {
    position: relative;
}

.Headmenu h1 {
    text-align: center;
    margin: 3vh 1.75vw 1vh 1.75vw;
    font-size: 3.5vh;
}

.Headmenu a div {
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

    display: inline-block;
    margin: 0.5vw 1vw;
    padding: 0.3vw 0.5vw 0.2vw 0.5vw;
    width: calc(7.5vw - 2px);

    color: var(--button-color);
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    border-radius: 0.5vw;
    transition: all 0.3s ease;
}

.Headmenu a div:nth-child(1) {
    margin-right: 0;
}

.Headmenu a div:hover {
    border-color: var(--button-color-hover);
    color: var(--button-color-hover);
    background: var(--button-bg-hover);
}

.Menu {
    position: fixed;
    width: 20vw;
    height: 74.5vh;
    top: 22vh;
    
    border-radius: 0.5vw;
    background: linear-gradient(90deg, var(--bg-color-alt), var(--bg-color));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    transition: all 0.3s ease;
}

.Menu item {
    display: block;
    
    width: calc(18vw - 0.1vw);
    height: 2vw;
    margin: 1vw;
    font-size: 1vw;
    line-height: 2vw;
    text-align: center;
    
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    color: var(--button-color);
    border-radius: 0.5vw;
    transition: all 0.3s ease;
    cursor:pointer;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* Standard */
}

.Menu item:hover {
    border-color: var(--button-color-hover);
    color: var(--button-color-hover);
    background: var(--button-bg-hover);
}

.Menu item.selected_menu {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover); /* для теста */
    border-color: color-mix(var(--button-color) var(--button-color-hover) 50%);
}

.Views > div {
    display: none;
    position: fixed;
    width: 70vw;
    height: 86vh;
    left: 24vw;
    padding: 3.5vh 2vw;
    border: none;
    border-radius: 1vw;
    background: linear-gradient(90deg, var(--bg-color), var(--bg-color-alt));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    transition: all 0.3s ease;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: var(--bg-color-alt);
    width:1vw;
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb{
    border: 1px solid var(--button-bg);
    width: 2vw;
    height:3vw;
    border-radius: 2vw;
    background-color: var(--button-bg);  
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--button-bg-hover);
    transition: bg-color 0.3s ease; 
}

.Views > div.active_view {
    display: block;
}