

.Settings h1{
    color: var(--button-color);
}

.BG_color_set{
    margin-top:2vw;
    font-size: 1vw;
}

.BG_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Form_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Text_color_set p{
    color: var(--button-color);
    margin-top:0.5vw;
    font-size: 1vw;
}

.Butone1{
    display:block;
    position: relative;
	margin-top: 1vw;
	width: 7vw;
	height: 2.5vw;
	border: 1px solid var(--button-color);
	border-radius: 0.5vw;
	background-color: var(--button-bg);
	color: var(--button-color);
	font-size: 1vw;
	cursor: pointer;
	transition: 0.3s ease, color 0.3s ease;
}

.Butone1:hover{
    background-color: var(--button-bg-hover);
    
}

.Themes{
    margin-top: 1vw;
    font-size: 1vw;
}

.base_themes{
    margin:0.5vw 2vw;
}

.Themes .Light_Theme{
    width:8vw;
    height:2.5vw;
    text-align: center;
    cursor: pointer;
    line-height: 2vw;
    border: 0.1vw solid blue;
    border-radius: 0.5vw;
    font-size: 1vw;
    background-color: lightblue;
}   

.Hline{
    margin:20px 0;
    padding: 0;
    height:6px;
    border: none;
    background: linear-gradient(45deg, var(--button-color), var(--bg-color));
    font-size: 1vw;
}

.Castomisation{
    margin-top:5vw;
    font-size: 1vw;
}

.Chats_set{
    margin-top:5vw;
    font-size: 1vw;
}