body {
    background: #dadada;
    box-shadow: 0 -200px 100px -120px #81b0bb inset;
    animation: background 15s infinite alternate;
}
  
@keyframes background {
    50% {
        background: #81b0bb;
        box-shadow: 0 -200px 100px -120px #dadada inset;
    }
}

h1 {
    font-size: 2vw;
}

form {
    align-content: center;
}

.center {
    width: 30vw;
    padding: 5vw;
    position: absolute;
    left: 30vw;
    top: 15vw;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    border: 0.2vw solid rgba(255,255,255,0.3);
    border-radius: 1vw;
}

.login, .password {
    width: 24.5vw;
    height: 1.5vw;
    font-size: 1vw;
    padding: 0.1vw 0.25vw 0.1vw 0.25vw;
    margin: 0.25vw;
    border-radius: 0.5vw;
    border: 0;
}

.wrong {
    background: #faa;
}

.submit {
    width: 25vw;
    height: 1.75vw;
    font-size: 1vw;
    margin: 0.5vw;
    border-radius: 0.5vw;	
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    cursor: pointer;
    font-weight: bold;
    border: 0;
}

.submit:hover{
    transition:0.2s;
    color: var(--button-color-hover);
}

.log {
    width: 25vw;
    height: 2vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-left: 2.5vw;
    line-height: 2vw;
    background: rgb(219, 61, 61);
    color: rgb(79, 30, 30);
    border-radius: 0.5vw;
    border: 0;
}

a {
    display:block;
    text-decoration:none;
    width:25vw;
    height:2vw;
    font-size: 1vw;
    color: var(--button-color);
}

.BAckToLogin{
    text-decoration: none;
    margin-left:2.5vw;
    width:25vw;
    height:1.75vw;
    text-align: center;
    font-weight: bold;
    line-height: 1.5vw;
    background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    border: 0.1vw solid var(--bg-color-alt);
    border-radius: 0.5vw;
}

.BAckToLogin:hover{
    transition:0.2s;
    color: var(--button-color-hover);
}
