h1 {
    font-size: 2vw;
}

form {
    align-content: center;
}

.center {
    width: 30vw;
    padding: 5vw;
    position: absolute;
    left: 30vw;
    top: 15vw;
    text-align: center;
    background: var(--bg-color-alt);
    border-radius: 1vw;
}

.login, .password {
    width: 24.5vw;
    height: 1.5vw;
    font-size: 1vw;
    padding: 0.1vw 0.25vw 0.1vw 0.25vw;
    margin: 0.25vw;
    border-radius: 0.5vw;
    border: 0;
}

.wrong {
    background: #faa;
}

.submit {
    width: 25vw;
    height: 1.75vw;
    font-size: 1vw;
    margin: 0.5vw;
    border-radius: 0.5vw;	
    background: var(--button-bg);
    color: var(--button-color);
    cursor: pointer;
    font-weight: bold;
    border: 0;
}

.submit:hover{
    transition:0.2s;
    color: var(--button-color-hover);
    background: var(--button-bg-hover);
}

.log {
    width: 25vw;
    height: 2vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-left: 2.5vw;
    line-height: 2vw;
    background: rgb(219, 61, 61);
    color: rgb(79, 30, 30);
    border-radius: 0.5vw;
    border: 0;
}

a {
    display:block;
    text-decoration:none;
    width:25vw;
    height:2vw;
    font-size: 1vw;
    color: var(--button-color);
}

.BAckToLogin{
    text-decoration: none;
    margin-left:2.5vw;
    width:25vw;
    height:1.75vw;
    text-align: center;
    font-weight: bold;
    line-height: 1.5vw;
    border:1px solid var(--button-bg);
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: 0.5vw;
}

.BAckToLogin:hover{
    transition:0.2s;
    color: var(--button-color-hover);
    background: var(--button-bg-hover);
}
