.profile_view{
    background-color: var(--bg-color);
}

h1{
    font-size: 100vw;
}

form{
    align-content: center;
}

.profile_info{
    width: 10vw;
    padding: 5vw;
    position: relative;
    left: 5vw;
    top: 15vw;
    text-align: center;
    background: var(--bg-color-alt);
    border-radius: 1vw;
}