<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
        <script>
            const socket = io();
        
            socket.on('message', (arg) => {
                console.log(arg);
            })

            function send() {
                socket.emit('message', 'hi');
            }
        </script>
	</head>
	<body>
		<h1>Главная</h1>
        
        <a href="/profile" class="Profile">Профиль</a>
        
        <div class="chats">
            <p>Чаты</p>
            {% for chat in chats %}

            {% endfor %}
        </div>
        
        <a href="/logout" class="logout">Выйти из аккаунта</a>

        <button onclick="send()" class="send">Send</button>
	</body>
</html>