<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/home.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
		<script src="static/js/script.js"></script>
		<script>use_theme("{{ account.theme[:96] }}")</script>
		<script src="static/js/home.js"></script>
		<script>
			setup(
				"{{'true' if account.chat_opened else 'false'}}",
				"{{account.opened_chat.id if account.chat_opened else -1}}",
				"0",
				"{{account.opened_chat.last_message_id}}",
				"{{account.opened_chat.user1_ID}}")
		</script>
	</head>
	<body>
		<div class="left">
			<div class="top">
				<h1>Главная</h1>
				<a href="/profile"><div class="profile">
					<div class="decor">
						<p>Профиль</p>
					</div>
				</div></a>
			</div>

			<div class="bottom">
				<div class="find">
					<h2>Поиск пользователей</h2>
					<div class="FIND_FIELD"> <!-- имя класса FIND_FIELD не менять !!! -->
						<form class="find_form">
							<input type="text" class="find_input" name="find" placeholder="Поиск">
							<input type="submit" class="submit" value="Найти">
						</form>
					</div>
					<script> setup_find() </script>
					
					<!--

					<a>
						<div class="account">
							<img>
							<p class="name"></p>
							<p class="status"></p>
							<a class="symbol"></p>
						</div>
					</a>

					-->

					<!-- on find_response   -->
				
				</div> <!-- find -->

				<div class="chats"> <!-- имя класса chats не менять !!! -->
					<h2> Чаты </h2>
					{% for chat in chats %}
						{% if chat.exist %}
							<a href="/open_chat_with_user/{{ chat.user2.ID }}">
								<div class="chat">
									<img class="icon" src="{{ chat.user2.icon }}">
									<p class="name">{{ chat.user2.name }}</p>
									<p class="status">status</p>
									{% if chat.show_last_message %}
										<p class="last">{{ chat.last_message.data[:10] }}</p>
									{% else %}
										<p class="last empty">Empty</p>
									{% endif %}
								</div>
							</a>
						{% endif %}
					{% endfor %}
				</div> <!-- chats -->
			</div> <!-- left -->
		</div> <!-- bottom -->
		<div class="right">
			
			<div class="top">
				{% if account.chat_opened %}
					<a href="/view_profile{{account.opened_chat.user2.ID}}">
						<div class="chat_topicleft">
							<div class="img_avatar">
								<img class="chat_avatar" src="{{ account.opened_chat.user2.icon }}">
							</div>
							<div class="krasota">
								<p class="chat_name">{{account.opened_chat.user2.name}}</p>
								<p class="status">Не в сети</p>
							</div>
						</div>
					</a>
					<div class="chat_topicright">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512.04267" class="photo">
							<path d="m229.347656 458.667969c-49.984375 0-90.667968-40.683594-90.667968-90.667969v-303.59375l-103.058594 23.59375c-25.472656 6.699219-40.746094 32.960938-34.007813 58.667969l88.363281 329.917969c5.867188 21.335937 25.472657 35.457031 46.507813 35.457031 3.945313 0 7.957031-.492188 11.925781-1.535157l215.039063-51.839843zm0 0 "></path>
							<path d="m277.347656 192c23.53125 0 42.667969-19.136719 42.667969-42.667969s-19.136719-42.664062-42.667969-42.664062-42.667968 19.132812-42.667968 42.664062 19.136718 42.667969 42.667968 42.667969zm0 0"></path>
							<path d="m512.015625 64c0-35.347656-28.652344-64-64-64h-213.335937c-35.347657 0-64 28.652344-64 64v298.667969c0 35.347656 28.652343 64 64 64h213.335937c35.347656 0 64-28.652344 64-64zm-277.335937-21.332031h213.335937c11.773437 0 21.332031 9.554687 21.332031 21.332031v137.367188l-16.214844-16.214844c-14.613281-14.613282-38.3125-14.613282-52.90625 0l-101.546874 101.546875-26.878907-26.878907c-14.613281-14.613281-38.3125-14.613281-52.90625 0l-5.546875 5.546876v-201.367188c0-11.777344 9.558594-21.332031 21.332032-21.332031zm0 0"></path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="video">
							<rect x="2" y="5" width="16" height="14" rx="2" ry="2"/>
							<circle cx="14" cy="12" r="3"/>
							<rect x="19" y="8" width="3" height="8" rx="1" ry="1"/>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="files">
							<path d="M6 2 H16 L20 6 V20 H6 Z"/>
							<line x1="8" y1="8" x2="16" y2="8"/>
							<line x1="8" y1="12" x2="14" y2="12"/>
							<line x1="8" y1="16" x2="12" y2="16"/>
						</svg>	
					</div>
						
				{% endif %}
			</div> <!-- top -->
			{% if account.chat_opened %}
				<div class="main2"><div class="main">
					{% for message in account.opened_chat.get_last_messages() %}
						<div class="message" {% if message.sender == account.ID %} id="my" {% endif %}>
							<div class="box">
								{% if account.opened_chat.__class__.__name__ == "Group" %}
									<p class="sender">Sender</p> <!-- TODO -->
								{% endif %}
								<div class="data">{{ message.data }}</div>
								<div class="info">
									<p class="time">{{ message.time[0:2] + ":" + message.time[2:4] + ":" + message.time[4:6] }}</p>
									<p class="symbol">+</p> <!-- TODO -->
								</div>
								<meta_ class="_ID">{{ message.ID }}</meta_>
								<meta_ class="_visible">{{ message.visible }}</meta_>
							</div>
						</div>
					{% endfor %}
				</div></div> <!-- main -->

				<div class="send">
					<form class="send_form">
						<input type="text" class="send_input" placeholder="Написать сообщение...">
						<input type="submit" class="send_submit" value="Отправить">
						<!-- Сама визуал кнопки 
						 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="send_submit_icon">
							<polygon points="2,12 22,2 15,12 22,22" fill="var(--icon-color, currentColor)" />
							<line x1="2" y1="12" x2="15" y2="12" stroke="var(--icon-color, currentColor)" stroke-width="2"/>
						</svg> -->
					</form>
				</div> <!-- send -->
				<script>send_setup()</script>
			{% else %}
				<p class="NoChatText">Выберите кому вы хотите написать</p>
			{% endif %}
		</div> <!-- right -->
	</body>
</html>