<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Вход в аккаунт</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
	<body>
		<div class="center">
			<h1>Log in</h1>
			
			<form method="post" action="/auth">
				<input type="text" name="login" value="{{ last_login }}" class="login"><br>
				<input type="password" name="password" class="password"><br>

				<input type="submit" value="Submit" class="submit">
			</form>

				{% if show %}
					<div class="log"> {{ log }} </div>
				{% endif %}
			
			<a href="/signin">Sign in</a>
		</div>
	</body>
</html>