<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Профиль</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_info.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_settings.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_test.css">
	</head>
	<body>
		<div class="Headmenu">
			<h1>Профиль</h1>
			<a href="/home">
				<div class="Chates">Чаты</div>
			</a>
			<a href="/logout">
				<div class="LogOut">Log out</div>
			</a>
		</div> <!-- .Headmenu -->

		<div class="Menu">
			<item class="Edit_profile SELECTED" onclick="Open('.Info', '.Edit_profile'   )"> Редактировать профиль </item>
			<item class="Site_settings"         onclick="Open('.Settings', '.Site_settings')"> Настройки             </item>
			<item class="For_test"              onclick="Open('.Test', '.For_test'   )"> Test                  </item>
		</div> <!-- .Menu -->
		
		<div class="Views">
			<div class="Info active">
				<form method="post" action="/edit_profile">
					<div class="horisontal">
						<div calss="vertical">
							<input type="text" placeholder="Имя" name="name" value="{{user.name}}" class="Name">
							
							<div class="Icon">
								<img src="static/images/default_icon.png">
								<label for="icon_file">
									<div class="file_input">Выбрать файл</div>
								</label>
								<input id="icon_file" type="file" name="icon"\>
							</div>
						</div>
						<div class="vertical">
							<textarea placeholder="О себе..." class="About">{{user.description}}</textarea>
						</div>
					</div>

					<input type="number" name="age" placeholder="Возраст" value="{{user.age}}">
					
					<div class="Sex">
						<h2>Пол:</h2>
						<radio>
							<input type="radio" id="r0" name="gender" value="0" {% if user.gender == 0 %} checked {% endif %}/>
							<label for="r0">Не указано</label>
						</radio>
						<radio>
							<input type="radio" id="r1" name="gender" value="1" {% if user.gender == 1 %} checked {% endif %}/>
							<label for="r1">Мужской</label>
						</radio>
						<radio>
							<input type="radio" id="r2" name="gender" value="2" {% if user.gender == 2 %} checked {% endif %}/>
							<label for="r2">Женский</label>
						</radio>
					</div>

					<input type="submit" value="Сохранить">
				</form>
			</div> <!-- .Info -->

			<div class="Settings">
				<h1>Тема</h1>
				<div class="BG_color_set">
					<p>цвет фона</p>
					<p><select name="BG_color" class="BG_clr">
						<option value="0">Красный</option>
						<option value="1">Оранжевый</option>
						<option value="2">Желтый</option>
						<option value="3">Зеленый</option>
						<option value="4">Голубой</option>
						<option value="5">Синий</option>
						<option value="6">Фиолетовый</option>
						<option value="7">Розовый</option>
						<option value="8">Коричневый</option>
						<option value="9">Белый</option>
						<option value="10">Серый</option>
						<option selected value="11">Черный</option>
					</select>
				</div>
				<div class="Form_color_set">
					<p>цвет оформления</p>
					<p><select name="Form_color" class="F_clr">
						<option value="0">Красный</option>
						<option value="1">Оранжевый</option>
						<option value="2">Желтый</option>
						<option value="3">Зеленый</option>
						<option value="4">Голубой</option>
						<option value="5">Синий</option>
						<option value="6">Фиолетовый</option>
						<option value="7">Розовый</option>
						<option value="8">Коричневый</option>
						<option value="9">Белый</option>
						<option selected value="10">Серый</option>
						<option value="11">Черный</option>
					</select></p>
				</div>
				<div class="Text_color_set">
					<p>цвет текста</p>
					<p><select name="Text_color" class="Text_clr">
						<option value="0">Красный</option>
						<option value="1">Оранжевый</option>
						<option value="2">Желтый</option>
						<option value="3">Зеленый</option>
						<option value="4">Голубой</option>
						<option value="5">Синий</option>
						<option value="6">Фиолетовый</option>
						<option value="7">Розовый</option>
						<option value="8">Коричневый</option>
						<option selected value="9">Белый</option>
						<option value="10">Серый</option>
						<option value="11">Черный</option>
					</select></p>
				</div>
				<div class="Themes">
					<button class="Dark_Theme">Темная тема</button>
					<button class="Light_Theme">Светлая тема</button>
				</div>
				<button class="Butone1" onclick="UpdateTheme()">Сохранить</button></p>
			</div> <!-- .Settings -->

			<div class="Test">
				<h1>Test</h1>
			</div> <!-- .Test -->
		</div> <!-- Views -->
		<script src="static/js/profile.js"></script>
	</body>
</html>