<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Профиль</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_info.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_settings.css">
		<link rel="stylesheet" type="text/css" href="static/css/profile_test.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
		<script src="static/js/script.js"></script>
		<script>use_theme("{{ account.theme[:96] }}")</script>
		<script src="static/js/profile.js"></script>
	</head>
	<body>
		<div class="Headmenu">
    		<h1>Профиль</h1>
    		<a href="/home"><div class="Chates">Чаты</div></a><a href="/logout"><div class="LogOut">Выйти</div></a>
		</div> <!-- .Headmenu -->
		
		<div class="Menu">
			<item class="Edit_profile selected_menu" onclick="Open('.Info',     '.Edit_profile' )">Редактировать профиль</item>
			<item class="Site_settings"              onclick="Open('.Settings', '.Site_settings')">Настройки</item>
			<item class="For_test"                   onclick="Open('.Test',     '.For_test'     )">О проекте</item>
		</div> <!-- .Menu -->
		
		
		<div class="Views">
			<div class="Info active_view">
				<form method="post" action="/edit_profile">
					<div class="horisontal">
						<div calss="vertical">
							<input type="text" placeholder="Имя" name="name" value="{{account.name}}" class="Name">
							
							<div class="Icon">
								<img src="{{account.icon}}">
								<label for="icon_file">
									<div class="file_input">Выбрать файл</div>
								</label>
								<input id="icon_file" type="file" name="icon"\>
							</div>
						</div>
						<div class="vertical">
							<textarea placeholder="О себе..." name="about" class="About">{{account.about}}</textarea>
						</div>
					</div>
					<h2 class="age">Возраст</h2>
					<input type="number" name="age" placeholder="Возраст" value="{{account.age}}">
					
					<div class="Sex">
						<h2 class="pol">Пол</h2>
						<radio>
							<input type="radio" id="r0" name="gender" value="0" {% if account.gender == 0 %} checked {% endif %}/>
							<label for="r0">Не указано</label>
						</radio>
						<radio>
							<input type="radio" id="r1" name="gender" value="1" {% if account.gender == 1 %} checked {% endif %}/>
							<label for="r1">Мужской</label>
						</radio>
						<radio>
							<input type="radio" id="r2" name="gender" value="2" {% if account.gender == 2 %} checked {% endif %}/>
							<label for="r2">Женский</label>
						</radio>
					</div>

					<input type="submit" value="Сохранить">
				</form>
			</div> <!-- .Info -->

			<div class="Settings">
				<div class="Themes_set">
					<h1>Темы</h1>
					<hr class="Hline">
					<div class="Themes">
						<div class="base_themes">
							<button class="Light_Theme" onclick="Theme('Light')">Светлая</button>
							<button class="Dark_Theme" onclick="Theme('Dark')">Тёмная</button>
							<button class="Contrast_Theme" onclick="Theme('Contrast')">Контраст</button>
							<button class="Mint_Theme" onclick="Theme('Mint')">Mint</button>
							<button class="RedAndBlack_Theme" onclick="Theme('RedAndBlack')">Red&Black</button>
							<button class="Pink_Theme" onclick="Theme('Pink')">Pink</button>
							<button class="ScyFi_Theme" onclick="Theme('ScyFi')">Scy-Fi</button>
							<button class="Neon_Theme" onclick="Theme('Neon')">Neon</button>
							<button class="Minimalism_Theme" onclick="Theme('Minimalism')">Minimalism</button>
						</div>
					</div>
				</div>
				<div class="Castomisation">
					<h1>Кастомизация</h1>
					<hr class="Hline">
					<!-- theme_value -->
					<button class="Butone1" onclick="UpdateTheme()">Сохранить</button>
				</div>
				<script>setup_theme_values()</script>
				<div class="Chats_set">
					<h1>Чат</h1>
					<hr class="Hline">
					<h2>Шрифт</h2>
					<h2>Фон чата</h2>
				</div>
			</div> <!-- .Settings -->
			

			<div class="Test">
				<h1>О проекте</h1>
				<h2 class="Developers">Разработчики</h2>
				<hr class="Hline">
				<h2 class="Sponsorstvo">Спонсорство</h2>
				<hr class="Hline">
				<div class="DevelopInfo">
					<div class="DevelopDecor" data-text="FrontEnd разработчик. Новичок, но липтон с персиком и орешки творят чудеса">
						<p>Прядко Данила</p>
					</div>
					<div class="DevelopDecor" data-text="BackEnd разработчик. Прошаренный чичик. Зачем нужен мир если в нем нет аниме песенок?">
						<p>Ульянов Михаил</p>
					</div>
					<div class="DevelopDecor" data-text="Betatest. Душнила со стажем и в этом весь его бетатест. Если бы не он, то мы бы померли с голоду за компами">
						<p>Хрусталев Никита</p>
					</div>
					<div class="DevelopDecor" data-text="DevOps. Вроде как DevOps, но судьба так сложилась что он бывал и FrontEnd-ером. Банка энергоса + кунжутовая булочка с котлеточкой + дота = повышенное кпд разработки">
						<p>Шмеркович Кирилл</p>
					</div>
					<div class="Spon">
						<p>На поесть бедный студентам - 4276 3801 5015 9395 сбер/2200 1523 9149 2900 альпхапанк</p>
						<p class="P2">В ходе создания проекта было уничтожено 3 клавиатуры, сожжено более триллиона нервных клеток, выпито 57 энергетиков и съедено 3 кота(нам сказали, что это шаурма)</p>
						<p class="P2">В общей сложности было потрачено 52.228$</p>
					</div>
				</div>
			</div> <!-- .Test -->
		</div> <!-- Views -->
	</body>
</html>