<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Регистрация</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/signin.css">
	</head>
	<body>
		<div class="center">
			<h1>Регистрация</h1>

			<form method="post" action="/new_auth">
				<input type="text" name="login" class="login" placeholder="Введите логин">
				<input type="password" name="password1" class="password" id="pass1"
					placeholder="Введите пароль" onchange onpropertychange onkeyuponpaste oninput="check_passwords()" />
				<input type="password" name="password2" class="password" id="pass2"
					placeholder="Повторите пароль" onchange onpropertychange onkeyuponpaste oninput="check_passwords()" />
				<input type="submit" value="Sign in" class="submit">
			</form>
			

			{% if show_logs %}
				{% for i in log %}
					<p class="log"> {{ i }} </p>
				{% endfor %}
			{% endif %}
			<div class="BAckToLogin">
				<a href="/">Back to login</a>
			</div>
		</div>
	</body>

	<script src="static/js/signin.js"></script>
</html>