<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Просмотр профиля</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/view.css">
		<script src="static/js/script.js"></script>
		<script>use_theme("{{ account.theme[:96] }}")</script>
		<script src="static/js/profile.js"></script>
	</head>
	<body>
		<div class="profile_view">
			<div class="icon">
				<img src="{{account2.icon}}">
			</div>
			<h1>{{ account2.name }}</h1>
			<p>Возраст: {{ account2.age }}</p>
			<p>Пол: {{"Не указан" if account2.gender == 0 else ("Мужской" if account2.gender == 1 else "Женский") }}</p>
			<div class="Description">
				<p>О сoбеседнике: {{ account2.description }}</p>
			</div>
			<a href="/open_chat_with_user/{{ account2.ID }}" class="Back">Написать</a>
		</div>
	</body>
</html>