<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Просмотр профиля</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/view.css">
	</head>
	<body>
		<div class="profile_view">
			<div class="profile_info">
				<h1>{{ account.name }}</h1>
				<p>{{ account.age }}</p>
				<p>{{ account.gender }}</p>
				<p>{{ account.description }}</p>
				<a href="/open_chat_with_user/{{ account.ID }}">Написать сообщение</a>
			</div>
		</div>
	</body>
</html>